.search-box {
    width :  388px;
    /* background : rgb(239 243 244); */
    border: 1px solid rgb(220, 212, 212);
    border-radius : 99px;
    display : flex;
    align-items : center;
    box-sizing:border-box;
    height: 40px;
    margin-top: 5px;
}
.search-box:focus-within{
    border : 1px solid rgb(233, 224, 224);
    box-sizing:border-box
}

.search-box input{
    outline : none;
    font-size : 17.3px;
    border : none;
}