.blogs-container{
    display: flex;
    justify-content: center;
    width: 68%;
    border-left: 1px solid rgb(233, 224, 224);
    border-right: 1px solid rgb(233, 224, 224);
}
.blog-content{
    width: 750px;
}
.blog-content__header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-content__user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.blog-content__header > div:first-child{
    display: flex;
    gap: 18px;
}
.blog-content__user-name{
    font-weight: 500;
    font-size: 18px;
}
.blog-content__follow-btn{
    margin-left: 20px;
    background: green;
    color: white;
    border-radius: 99px;
    border: none;
    padding: 4.5px 13px;
    font-size: 14px;
}
.blog-content__header > div:nth-child(2){
    display: flex;
    gap: 20px;
}
.blog-content__HTML-Content{
    font-size: 20px;
    letter-spacing: 0.6Spx;
    word-spacing: 1.2px;
    line-height: 36px;
}
.blog-content__HTML-Content a{
    color: black;
}
.blog-content__HTML-Content img{
    width: 750px;
}
.blog-content__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 20px 0px;
    font-size: 20px;
}
.blog-content__footer > div{
    display: flex;
    align-items: center;
}
.blog-content__footer > div:last-child{
    gap: 20px;
}