.blogs-page{
    display: flex;
    margin-left: 100px;
}

.blogs-container{
    display: flex;
    justify-content: center;
    width: 1145px;
    border-right: 1px solid rgb(233, 224, 224);
}
.blogs-container > div:first-child{
    margin-top:  50px;
}
.blogs-page__tags{
    padding-left: 40px;
}
.blogs-container__no-results{
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogs-container__no-results img{
    width: 600px;
}

.pagn-container{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}
.pagn-container button{
    padding: 5px 10px;
    font-weight: bold;
}